.newsletter {
    height          : 207px;
    background-color: #F5F5F5;
    display         : flex;
    align-items     : center;
    justify-content : center;
    gap             : 15px;
    font-size       : 14px;
}

.newsletter-input {
    width           : 395px;
    height          : 48px;
    padding         : 5px 10px;
    border          : 1px solid #dddddd;
    background-color: #F5F5F5;
    outline         : none;
    color           : var(--black-color);
    font-size       : 15px;
}

.newsletter-button {
    padding         : 16px 25px;
    background-color: var(--black-color);
    color           : var(--white-color);
    cursor          : pointer;
}